@@include('./partials/head.html')
</head>
<body>
  <h1>teste slush-simple</h1>
  
  <section>
	  <div class="box">
	  	<span>1</span>
		</div>
		<div class="box">
	  	<span>2</span>
		</div>
		<div class="box">
	  	<span>3</span>
		</div>
		<div class="box">
	  	<span>4</span>
		</div>
	</section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="assets/js/scripts.js"></script>
</body>
</html>